<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">
  <targets>
    <target name="csv" xsi:type="File"
			fileName="${basedir}/logs/today.log"
			archiveFileName="${basedir}/logs/{##}.log"
			archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="28"
			concurrentWrites="true" keepFileOpen="true" encoding="UTF-8">
      <layout xsi:type="CSVLayout">
        <column name="Time" layout="${longdate}" />
        <column name="Thread ID" layout="${threadid}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=tostring}" />
        <column name="Logger" layout="${logger}" />
        <column name="Level" layout="${level}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="csv" />
  </rules>
</nlog>
